html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca";
  background: #f5f5f5;
}
.container {
  max-width: 1160px;
}
.cont-1 {
  background: linear-gradient(to right, rgba(22, 22, 40, 1), rgba(0, 0, 0, 0)),
    url(https://s3-alpha-sig.figma.com/img/4c1e/67ad/617529b242ecae3c1c15bb1de79f5875?Expires=1739145600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=lFR8KAB3S-3GmzF5omVLuoM1HzAwEM6h0jonLSoFuSpCKTDGuHaMY~sibz9rSXzhtFyMdt74WCL33Wd1q-3LxDM9l4U6XJwrW6y3oYIv33rKsbcN7ApaxfbXdOvV1rNh8I-45XQ3ZOmrQ-4JF0jkgaGMulUPT7DwA6-7J5f~mOXpPwKH3qv2l8US1UYToSqVdqVe9bMaLhbpJwo4OsZblHaJuYu3SzvoUcQNW34o-Lqe3CBtiRNnxiwXN7A~R9de4vbJ89JmzyJFr3KREqcXcLpwUK~Hoj7VcMz6-IyKZgGNj8pGldDKrcRUBLvFg3r3nXVT8cmmpi5-emgY5zNcvw__);
  background-size: cover; /* Paveikslėlis užima visą ekraną */
  background-position: center;
  height: 800px;
}
nav {
  padding-top: 40px;
}
.nav-link {
  color: white;
  font-family: "Lexend Deca";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.nav-item {
  padding-left: 56px;
}
a.nav-link:hover {
  color: #5468e7;
}
.mygtukas-1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 44px;
  width: 184px;
  height: 47px;
  background: rgba(84, 104, 231, 0.5);
  border-radius: 4px;
  border: none;
  color: white;
}
button.mygtukas-1:hover {
  background: #5468e7;
}
h1 {
  font-family: "Lexend Deca";
  font-size: 50px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
}
h3 {
  font-family: "Lexend Deca";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
p {
  font-family: "Lexend Deca";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
p.mazas {
  font-family: "Lexend Deca";
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.01em;
  text-align: left;
}
.cont-2 {
  margin-top: 160px;
  max-width: 563px;
  color: white;
}
.cont-2 p {
  margin-top: 16px;
  margin-bottom: 56px;
}
.cont-2 form {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.cont-2 form input {
  box-sizing: border-box;
  padding: 11px 16px;
  width: 298px;
  height: 47px;
  background: #f5f5f5;
  border: 2px solid #d1ecfd;
  border-radius: 4px;
}
.cont-2 form button {
  padding: 10px 44px;
  width: 233px;
  height: 47px;
  background: #5468e7;
  border-radius: 4px;
  border: #5468e7 solid 1px;
}
button.mygtukas-2:hover {
  background: #5468e7;
}
.cont-sec-1 {
  color: #232340;
  height: 856px;
  padding-top: 82px;
  padding-bottom: 120px;
}
.apr {
  padding: 180px 0 180px 0;
}
.cont-f-sec-1 {
  overflow: hidden;
}
.koliazas {
  position: relative;
}
.kol-1 {
  position: absolute;
  top: 0;
  left: 160px;
  z-index: 2;
  max-height: 654px;
}
.kol-2 {
  position: absolute;
  top: 20px;
  left: 50px;
  z-index: 1;
}
.kol-3 {
  position: absolute;
  top: 320px;
  left: 40;
  z-index: 3;
}
.kol-2-1 {
  width: 100%;
  height: 565px;
  object-fit: cover;
  object-position: center;
}
.kol-2-2 {
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: 1;
  height: 110px;
  width: 256px;
}
.apr-2,
.apr-3,
.apr-4 {
  max-width: 456px;
  padding-left: 20px;
  align-self: center;
}
.cont-sec-3,
.cont-sec-4 {
  margin-top: 120px;
}
.kol-3-1 {
  width: 100%;
  height: 565px;
  object-fit: cover;
  object-position: center;
}
.kol-3-2 {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: 1;
  width: 190px;
}
.kol-3-3 {
  position: absolute;
  bottom: 218px;
  right: 24px;
  z-index: 1;
  width: 190px;
}
.kol-4-1 {
  width: 100%;
  height: 565px;
  object-fit: cover;
  object-position: center;
}
.kol-4-2 {
  position: absolute;
  bottom: 24px;
  left: 25px;
  z-index: 1;
  width: 190px;
}
.kol-4-3 {
  position: absolute;
  bottom: 116px;
  left: 25px;
  z-index: 1;
  width: 190px;
}
.cont-sec-5 h1 {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 120px;
}
.kortele {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 44px 33px;
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(118, 118, 178, 0.24);
}
.darbuotojas img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 14px;
}
.kortele p {
  margin-top: 24px;
  margin-bottom: 40px;
}
.cont-f-sec-f {
  background: #232340;
  margin-top: 164px;
  padding-top: 95px;
  padding-bottom: 37px;
}
.cont-sec-f ul {
  padding-inline-start: 0;
}
.cont-sec-f li,
.cont-sec-f a {
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.01em;
  text-align: left;
  text-decoration: none;
  color: #f5f5f5;
  padding: 0;
  margin: 0;
}
.cont-sec-f h3 {
  color: #5468e7;
}
.cont-sec-f p {
  color: #f5f5f5;
  max-width: 190px;
}
.cont-sec-f h5 {
  padding-bottom: 16px;
  font-family: "Lexend Deca";
  font-size: 52px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #f5f5f5;
}
.cont-sec-f h5 span {
  color: #5468e7;
}
.cont-sec-f input {
  padding: 11px 16px;
  width: 268px;
  height: 46px;
  background: rgba(245, 245, 245, 0.24);
  border-radius: 4px;
}
.cont-sec-f form {
  position: relative;
}
.cont-sec-f button {
  background: none;
  border: none;
  position: absolute;
  top: 8px;
  left: 236px;
}
