.navbar {
  box-shadow: 0px 9px 12.8px 0px #50c5570d;
  background-color: #16302d;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link {
  font-family: Krona One;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0%;
  color: #eff1ec;
}
.navbar-nav .nav-link.active{
    color: #50c557;
}

