body{
    margin: 0;
    padding: 0;
    
}
    
nav{
    display: flex;
    background: orange;
    justify-content: space-between;
    padding: 10px;
}
nav>ul{
    display: flex;
    justify-content:- flex-end;
    align-items: center;
}
nav>ul>li{
    list-style-type: none;
    margin: 0 10px;
}

header{
    text-align: center;
    padding: 0px 100px;
    background: violet;
}

div.container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: rgb(240, 240, 240);
    flex-wrap: wrap;
}

div.content{
    background: white;
    padding: 10px;
    width: 30%;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.234);
}

div.apacia{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background: violet;
}
div.apacia>p{
    text-align: center;
}

footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    background: orange;
}